<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.allbluetooth">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YcAllBlueTooth2"
        tools:targetApi="31">
        <activity
            android:name=".bianbi.activity.sanxiang.SxBbEndActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".bianbi.activity.sanxiang.SxBbCeshiActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".bianbi.activity.XtSzActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.dyjl.DyJlInfoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.dyjl.DyJlActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.sanxiang.SxBbActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".bianbi.activity.danxiang.DxBbEndActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.danxiang.DxBbCeshiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bianbi.activity.danxiang.DxBbActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzSjcyInfoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzYzcsKaishiCs2Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzYzcsKaishiCsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzYzcsChongdianActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzSysmActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzSjszActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzYzcsCsszActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzSjcyActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youzai.activity.YzHomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".dlzk.activity.DlzkDanxiangSanActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiStdLingxianErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiStdLingxianYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.TestActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yc.allbluetooth.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".std.activity.ZhizuCeshiDyErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiDyYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiYnYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiYnErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiStdYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.ZhizuCeshiStdErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cZzCs3Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cZzCs2Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cXtSzActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cSjJzActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cJlCxActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cZzCs1Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dtd10c.activity.Dtd10cHomeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkXitongShijianShezhiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkXitongActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkShujuActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkLingxuErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkLingxuYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkDanxiangErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkDanxiangYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkSanxiangSanActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkSanxiangErActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkSanxiangYiActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dlzk.activity.DlzkHomeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".std.activity.StdHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>